## 2.0 Models

Create a number of models to predict opioid death

In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline
import plotly.plotly as py
import plotly.figure_factory as ff
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly.graph_objs import Scatter, Figure, Layout
from IPython.display import display, HTML
init_notebook_mode(connected=True)
from os import listdir
datadir = '/home/jovyan/work/dswg/data'
print(listdir(datadir))
obs = pd.read_pickle(datadir+'/temp/obs.tmp')

['medications.csv', 'temp', 'allergies.csv', 'procedures.csv', 'conditions.csv', 'careplans.csv', 'encounters.csv', 'immunizations.csv', 'patients.csv', 'observations.csv']

In [4]:
from IPython.display import display, HTML
display(obs.head(5))

,DATE,PATIENT,CODE,DESCRIPTION,VALUE,UNITS,BIRTHDATE,DEATHDATE,SSN,DRIVERS,...,MAIDEN,MARITAL,RACE,ETHNICITY,GENDER,BIRTHPLACE,ADDRESS,_merge,age_at_visit,adult
ENCOUNTER,,,,,,,,,,,,,,,,,,,,,
87216f21-b849-490a-a025-e2df2f042709,2009-01-28,545be6f8-8796-496a-ac87-9919542f724e,8302-2,Body Height,105.9,cm,2004-02-18,NaT,999-22-9579,NaN,...,NaN,NaN,white,french,M,Dell Groveship,740 Schmidt Heights Apt 24 Apple Valley Minnes...,both,5.0,False
87216f21-b849-490a-a025-e2df2f042709,2009-01-28,545be6f8-8796-496a-ac87-9919542f724e,29463-7,Body Weight,22.1,kg,2004-02-18,NaT,999-22-9579,NaN,...,NaN,NaN,white,french,M,Dell Groveship,740 Schmidt Heights Apt 24 Apple Valley Minnes...,both,5.0,False
87216f21-b849-490a-a025-e2df2f042709,2009-01-28,545be6f8-8796-496a-ac87-9919542f724e,39156-5,Body Mass Index,19.7,kg/m2,2004-02-18,NaT,999-22-9579,NaN,...,NaN,NaN,white,french,M,Dell Groveship,740 Schmidt Heights Apt 24 Apple Valley Minnes...,both,5.0,False
dc9874cc-7b49-4a48-8878-4be32b0b372a,2014-11-07,f86ec82d-004a-46df-8cdb-4226abd6886d,8302-2,Body Height,48.9,cm,2014-11-07,NaT,999-84-5231,NaN,...,NaN,NaN,white,german,F,Huntership,775 Prosacco Ville Minneapolis Minnesota 55401 US,both,0.0,False
87216f21-b849-490a-a025-e2df2f042709,2009-01-28,545be6f8-8796-496a-ac87-9919542f724e,8462-4,Diastolic Blood Pressure,81.5,mmHg,2004-02-18,NaT,999-22-9579,NaN,...,NaN,NaN,white,french,M,Dell Groveship,740 Schmidt Heights Apt 24 Apple Valley Minnes...,both,5.0,False

In [5]:
obs[obs['CODE']=='55680006'].head(5)

Empty DataFrame
Columns: [DATE, PATIENT, CODE, DESCRIPTION, VALUE, UNITS, BIRTHDATE, DEATHDATE, SSN, DRIVERS, PASSPORT, PREFIX, FIRST, LAST, SUFFIX, MAIDEN, MARITAL, RACE, ETHNICITY, GENDER, BIRTHPLACE, ADDRESS, _merge, age_at_visit, adult]
Index: []

[0 rows x 25 columns]